---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div
            class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-center">
            <span class="block text-gray-500 dark:text-gray-400">East Media &copy; 2023<span id="year"></span></span>
          </div>
        </div>
      </div>
    </Container>
</footer>